
@* @{
    ViewData["Title"] = "GetTime";
}

<h1>GetTime</h1> *@

@{
    ViewData["Title"] = "Time";
}
<h1> Time: @ViewData["date"]</h1>
<div>
    <form action="GetTime">
        <input class="btn btn-danger" type="submit" value=" Hitme" />
    </form>
</div>

