
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div> class="text-center" ><h1 class="dispaly-4">welcome</h1></div>
<div class="jumbotron">
    <div> INR: &#8377</div>
    <a asp-action="Echo" asp-route-name="Venkat"
    asp-route-city="chennai">call Echo</a> |
    <a asp-action="SayHello" asp-route-name="venkat">Call SayHello</a>
</div>
<div> 
