
@{
    ViewData["Title"] = "_BookList";
}

<h1>_BookList</h1>

<hr/>
<h1> from Book List </h1>
<ul>
    <li> Wasted in engineering </li>
    <li> It Happens for a Reason </li>
    <li> The Leader In You </li>
    <li> The One Minute Manager </li>
</ul>