
@{
    ViewData["Title"] = "_MovieList";
}

<h1>_MovieList</h1>

<hr />
<h1> From Movie List</h1>
<ul>
    <li> Bhahubali </li>
    <li> RRR </li>
    <li> Jai Lava Kusa </li>
    <li> AndharaWala </li>
</ul>