@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<form method="post">
    <div>
        <label>for="txtName">Name:</label>
        <input id="txtName" placeholder="Enter name" required type="text" />
    </div>
    <div>
        <label> for="txtName">
        </label>
    </div>
</form>
